{% extends 'base.html' %}
{% block title %}
    Login Page
{% endblock %}

{% block content%}
<body class="text-center"><br>
    <div style="width: 70%" class="container p-4 border">
        <form method="POST" class="form-signin align-center" style="color:white">
            {{ form.hidden_tag() }}
            <h1>Create an Account</h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control m-2", placeholder="Username") }}
    
            {{ form.password.label() }}
            {{ form.password(class="form-control m-2", placeholder="Password") }}
    
            <br>
            
            {{form.submit(class="btn btn-lg btn-block btn-primary")}}
            <br>
            <a style="float: right" class="btn btn-secondary m-2 " href="{{ url_for('register_page') }}">I Want to Register</a>
    
    
            </form>
    </div>
</body>
{% endblock %}